$container-width: 1400px;
$nav-width: 500px;

$margin-a: 12px;
$margin-b: $margin-a * 2;
$margin-c: $margin-a * 3;
$margin-d: $margin-a * 4;

/* white, black */
$white: #fff;
$black: #1a1a1a;

/* light grays */
$clouds: #ECF0F1;
$silver: #BDC3C7;

/* dark grays */
$concrete: #95A5A6;
$asbestos: #7F8C8D;

/* dark blues */
$wetasphalt: #34495E;
$midnightblue: #2C3E50;