$font-size-a: 12px;
$line-height-a: 15px;

$font-size-b: 15px;
$line-height-b: 20px;

$white: #fff;
$clouds: #ECF0F1;
$silver: #BDC3C7;
$emerald: #2ECC71;
$sunflower: #F1C40F;
$concrete: #95A5A6;
$amethyst: #9B59B6;

$margin-a: 12px;
$margin-b: 24px;
$margin-c: 36px;

$header-height: 50px;