@import 'core/*';

section {
	
	&.items {
		@extend %inline-block-parent;
		width: 100%;
		padding: $margin-a;
		@include prefixer(column-count, 3);
		> section {
			@extend %no-transition;
			vertical: {align: top;}
			width: 100%;
			padding: $margin-a;
		}
		article {
			padding: $margin-a;
			&:first-child {
				background: $clouds;
			}
			+ article {
				background: $emerald;
				color: $clouds;
				a {
					color: $white;
				}
			}
		}
	}
	
}