@import 'core/*';

* {
	@include prefixer(box-sizing, border-box);
	outline: none;
}

body {
	background: $clouds;
	color: $black;
}

a {
	color: $black;
	text-decoration: none;
}

.items {
	> section {
		position: relative;
	}
	article {
		padding: $margin-b;
		&:first-child {
			background: $white;
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: $item-info-width;
			font: {
				size: 11px;
			}
			border: {
				bottom: 1px solid $clouds;
			}
		}
		+ article {
			padding: $margin-b;
			padding: {
				left: $item-info-width + $margin-b;
			}
			border: {
				bottom: 1px solid $silver;
			}
		}
	}
	p {
		padding: 0;
		margin: 0 0 $margin-a/2 0;
	}
	h3 {
		margin: {
			bottom: $margin-a;
		}
	}
}

.composer {
	background: $concrete;
	padding: $margin-b;
	section {
		@include prefixer(border-radius, 5px);
		border: 3px solid $asbestos;
		background: $white;
	}
	input, textarea {
		width: 100%;
		margin: 0;
		border: 0;
		background: transparent;
		padding: $input-padding;
		display: block;
	}
	input {
		border: {
			bottom: 1px solid $silver;
		}
	}
}