@import 'core/*';

* {
  @include prefixer(box-sizing, border-box);
}
nav {
  &.cover {
    position: fixed;
    width: $cover-portrait-width;
    height: 100%;
    background: red;
    @include breakpoint(medium) {
      position: static;
      width: 100%;
      height: $cover-landscape-height;
    }
  }
}

section {
  &.main {
    padding: {
      top: $margin-b;
      bottom: $margin-b;
      right: $margin-b;
      left: $cover-portrait-width + $margin-b;
    }
    @include breakpoint(medium) {
      padding: $margin-b;
    }
  }
}