@import 'core/*';

section {
	
	&.rooms {
		@extend %inline-block-parent;
		@extend %vertical-center;
		height: 100%;
		> section {
			@extend %inline-block;
			vertical: { align: middle; }
			width: 20%;
			padding: $margin-b;
			position: relative;
		}
		a {
			@extend %full-size-link;
			position: absolute;
		}
	}
	
}