@import 'core/*';

section {
	
	&.rooms {
		@extend %inline-block-parent;
		height: 100%;
		> section {
			@extend %inline-block;
			@extend %vertical-center;
			vertical: { align: top; }
			position: relative;
			width: 25%;
			height: 100%;
			padding: $margin-b;
			border: { right: 1px solid $white }
			&:hover {
				background: #000;
				color: #fff;
			}
		}
		a {
			@extend %full-size-link;
			position: absolute;
		}
	}
	
}