@import 'core/*';

body, input, textarea {
	font: {
		family: "Helvetica Neue", "Helvetica", sans-serif;
		size: 15px;
	}
	line: {
		height: 22px;
	}
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}


h1 {
	font: {
		size: 30px;
		weight: 600;
	}
	line: {
		height: 38px;
	}
	letter: {
		spacing: -0.05em;
	}
}

h2 {
	font: {
		size: 20px;
		weight: 300;
	}
	line: {
		height: 28px;
	}
	letter: {
		spacing: 0em;
	}
}

h4 {
	font: {
		size: 11px;
	}
	line: {
		height: 18px;
	}
}

.items {
	aside {
		font: {
			size: 11px;
		}
		line: {
			height: 1;
		}
	}
}

h1, h2, h3, h4, h5, h6 {
	color: $black;
}