@import 'core/*';
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,700italic,900,400italic,300");

body, input, textarea {
	font: {
		family: Lato, sans-serif;
		size: 15px;
	}
	line: {
		height: 22px;
	}
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

h2 {
	font: {
		size: 24px;
		weight: 700;
	}
	line: {
		height: 34px;
	}
}

h3 {
	font: {
		size: 18px;
		weight: 200;
	}
	line: {
		height: 25px;
	}
}

aside {
	font: {
		size: 11px;
		weight: 100;
	}
	line {
		height: 1;
	}
}

.items {
	article {
		&:first-child {
			font: {
				size: 15px;
			}
			line: {
				height: 21px;
			}
		}
	}
}